<!DOCTYPE html>
<html lang="ja" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Angularの練習</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="myscript.js"></script>
</head>
<body>
    <h1>AngularJSの練習</h1>
    <div ng-controller="myAppController">
        <ul>
            <li ng-repeat="user in users" ng-controller="userItemController">
                {{user.name}} {{user.score}}
                <button ng-click="increment()">+1</button>
            </li>
        </ul>
    </div>
</body>
</html>
